/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: aliceblue;
}

main {
  flex-grow: 1;

}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.list-border {
  border-style: dashed;
  border-width: thin;
  border-color: blueviolet;
  height: 75dvh;
  width: 100%;
}

.active-jot-border {
  border-style: dashed;
  border-width: thin;
  border-color: blueviolet;
  height: 75dvh;
  width: 100%;
}

.active-jot-box {
  height: 40dvh;
  width: 100%;
}

.date-style {
  font: .5em sans-serif;
}